/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: var(--prim2);
  line-height: 1.4;
  background:var(--sec2);
  font: 1rem "Roboto", sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

.email b {
  display: none;
}
/* ==========================================================================
   Variables
   ========================================================================== */


:root {
  --sec2: white;
  --sec1: #cbc0ff;  /* light purple */
  --prim2: #454556; /* slate */
  --prim1: #7d56ff; /* purple */
}

/* ==========================================================================
   custom styles
   ========================================================================== */
@font-face {
    font-family: 'GilroyExtrabold';
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
        url('Gilroy-Extrabold.woff2') format('woff2'),
        url('Gilroy-Extrabold.woff') format('woff'),
        url('Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'robotobold';
  /*  src: url('Roboto-Bold-webfont.eot');*/
    src: /* url('Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Bold-webfont.woff2') format('woff2'),*/
         url('Roboto-Bold-webfont.woff') format('woff'),
        /* url('Roboto-Bold-webfont.ttf') format('truetype'),
         url('Roboto-Bold-webfont.svg#robotobold') format('svg');*/
    font-weight: normal;
    font-style: normal;

}
body {
   font-size: 1rem;
}

p {
line-height: 1.5;
}

.skiplink {
  display:block;
  width:100%;
 background: var(--prim1);
  text-align: center;
  /padding:1rem 0;
  position:relative;
  top:-4rem;
}
.skiplink a {
  display:inline-block;
  color:var(--sec2);
  height: 2rem;
  margin: 1rem 0;
  }
.skiplink:focus-within  {
  background: var(--prim2);
 position: absolute;
  left: 0px;
  top: 0px;
  transition: top .05s ease-in;
}


header {
  display:block;
margin-top: -4rem;
    z-index: 2;
  background: var(--prim1);
  color: var(--sec2);
} 

header > div {
 display:flex;
 flex-direction: row;
 flex-wrap: nowrap;
 max-width: 90rem;
 margin: 0 auto;
}
h1 {
flex: 1 120px;
  padding-left: 16px;
display: flex;

/* 
width: 40%;
  display: block;
  min-width: 120px;
  max-width: 180px;
  */
}
h1 a {
display: flex;
  width: 100%;
  margin: auto 0;
}
h1 a img {
  vertical-align: middle;
  width: 100%;
  display: inline-block;
}
nav.primary {
  flex: 4;
/*
 width: 60%;
*/
background: var(--prim1);
}
nav.primary ul {
 display: block;
 font: 1rem "robotobold", sans-serif;
 margin-block-start: 0;
  padding-inline-start: 0;
margin-block-end: 0;
 margin: auto 16px auto 0;
}

nav.primary li {
padding: 0.75rem 0;
  text-align: right;
  list-style-type: none;
}
nav.primary li a {
  color: var(--sec2);
}

.hero-container {
  background: linear-gradient(to left, var(--prim1), var(--prim1) 50%, var(--sec2) 50% ) ;
}
.hero {
  
 color: var(--sec2);
  display:flex;
 font: 2rem "GilroyExtrabold", sans-serif;

  background: no-repeat var(--sec2) url("../img/rosace-320.png") ;
  background-position: bottom right ;
  background-size: contain;
max-width:90rem;
margin: 0 auto;
}


.hero p {
margin: 16px 16px 100% 16px;
  text-align: center;
  color: var(--prim2);
  width: 100%;
  margin-block-start: 0;
  padding: 32px 0 32px 0;
}
.intro {
  background: var(--prim2);
  color:var(--sec2);
  font-size: 1rem;
  padding: 16px 0;
}


.intro h2, .main-content h2 {
  margin:0 ;
  padding:24px 0;
  font-size:1.25rem;
  text-align: center;
}
.intro p, .main-content p {
  margin:0 0 24px 0;
  font-size:1rem;
}

.intro img {
margin: 0 auto;
  width: 100%;
  max-width: 480px;
  display: block;
}

.intro .container {
  padding: 16px;
  max-width: 90rem;
  margin: 0 auto;
}

.main-content {
   background:var(--sec2);
  color:var(--prim2);
  font-size: 1rem;
padding:16px;
}

.tile h2  {
text-align: center;
}
.tile h3 {
  font-size: 1.25rem;
  margin-top: 32px;
}

main .tile:nth-child(even) {
 background: var(--prim2);
 color: var(--sec2);
}

main .tile:nth-child(odd) {
 background: var(--sec2);
 color: var(--prim2);
}

.tile .container {
  padding: 16px;
  max-width: 60rem;
  margin: 0 auto;
}


.legal .tile:nth-child(odd) .container-text {
padding-left: 0;
}
 .tile:nth-child(even) .container-text {
padding-right: 0;
}

.tile:nth-child(even) a {
  color:var(--sec1);
}
.tile:nth-child(even) .contact-link a {
  color:var(--sec2);
}
.tile img {
 margin: 16px auto;
 width:100%;
 border-radius: 0.5rem;
 box-shadow: 4px 4px 4px var(--prim2);
}
.tile:nth-child(even) img {
 box-shadow: 4px 4px 4px black;
}
.bottomline h2 {
  font-size: 2rem;
}
.bottomline ul {
  list-style-type: square;
margin-left: 16px;
}
.bottomline .container-text {
  width: 100%;
}
.bottomline li {
  margin-bottom: 8px;
}
.cards > ul {
    list-style: none;
    padding-inline-start: 0;
}

.card + .card {
    margin-top: 1.5rem;
}

@supports (display: grid) {
    .cards > ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-column-gap: 0;
        grid-row-gap:4%;
        grid-auto-rows: 1fr;
    }

    .card + .card {
        margin-top: 0;
    }

    @media (max-width: 400px) {
        .cards > ul {
            grid-gap: 4.5rem;
        }
    }
}

.card, .card .text {
  display: flex;
  flex-direction: column;
}

.card .text {
  flex-grow: 1;
}

.card .text {
  margin: 16px 32px 0 32px;
}

.card .text > * + * {
  margin-top: 0.75rem;
}

.card .text :last-child {
  margin-top: auto;
}

.card {

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;

}
.card:hover, .card:focus-within {
    box-shadow: 2px 2px 4px;
}
 

.offers .card {

    background: var(--sec1);
  width: 90%;
  margin: 0 auto;
}

.offers .card a {
  color: var(--prim2);
  text-decoration: none;
  text-align: center;
}

.cards h3 {
  text-align: center;
  padding: 0 16px;
}

.card h3 a:focus {
    text-decoration: underline;
}
.card a {
    outline: none;
}

.card a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.card:focus-within h3 a:focus {
    text-decoration: none;
}
.cta {
  font-style: italic;
  text-align:right;
  margin-bottom: 8px;
 }

.graded-bkg .card {
background-color: rgba(203, 192, 255, 1);
}
/*
.graded-bkg .card:nth-child(1) {
background-color: rgba(203, 192, 255, 0.25);
}
.graded-bkg .card:nth-child(2) {
background-color: rgba(203, 192, 255, 0.5);
}
.graded-bkg .card:nth-child(3) {
background-color: rgba(203, 192, 255, 0.75);
}
*/
.contact-link {
width:80%;
margin:2rem auto;
padding:16px;
background: var(--prim1);
border-radius: 5px;
text-align: center;
position: relative;
}
.contact-link a {
color:var(--sec2);
font-weight: bold;
font-size: 1.25rem;
text-decoration: none;
}

.contact-link a::after {

  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

}

footer {
  margin:0;
}

.footer-links {
  text-align:center;
  margin:0 auto 16px auto;
background: var(--prim1);
padding-inline-start: 0;
  margin-block-end: 0;
 list-style-type: none;  
}
.footer-links li {
  text-align: center;
  margin: 0 auto;
   padding: 16px 0;
}

.footer-links li a {
color:var(--sec2);
}

.identity.intro ul {
margin:1rem auto;
width:fit-content;
margin-block-start: 0;
  padding-inline-start: 16px;
}

.identity.intro .container {
  max-width: 60rem;
  margin: 0 auto;
}

.identity.intro img {
margin: auto;
  flex: 1.5;
  max-width: 240px;
}

.main-content.identity h2 ~ p {
text-align: center;
margin-bottom: 64px;
}

.team, .credentials ul {
list-style-type: none;
margin-block-start: 0;
  padding-inline-start: 0;
}

.member .credentials {
margin: 0 auto;
  text-align: center;
}

.member .credentials p {
  margin: 0 0 16px 0;
}
.member {
  margin-bottom:32px;
}

.member h3 {
  margin-block-end: 0.5rem;
}

.socials svg {
  width: 1rem;
  height: 1rem;
}



.member .text {
  margin-top: 16px;
}
.team .member .text p {
  margin-bottom: 16px;
}
.team .member .text p.last {
  margin-bottom: 8px;
}

.member .games {
  list-style-type: "\01F3AE";
}
.member .games {
padding-left:32px;
}


.member .portrait {
  height: 12rem;
  width: 12rem;
  border: calc(5px + 0.1vw) solid var(--prim1);
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
   border-radius: 50%;
 margin: 0 auto;
}
.tim  {
  background-image: url(../img/tim-340.png);

}
.olivier {
  background-image: url(../img/olivier-conf-carre-340.png);
}
.micka {
  background-image: url(../img/micka-340.png);
}
.gform {
  width: fit-content;
  margin: 0 auto;
}

.legal .tile .container, .legal .tile .container-text, .legal .tile img  {
display: block;
}

  
.legal .tile img {
  box-shadow: none;
  max-width: 50%;
  margin:0 auto;
}
.p404 .hero  {
   min-height: 200px;
background:none;
}
.p404 .hero img {
  width: fit-content;
  height: fit-content;
margin: auto;

}

/* ==========================================================================
   custom styles - mid width
   ========================================================================== */

@media only screen and (min-width: 48rem) {
  /* 768px to 1023 */
header {
  /* position: sticky; */
}
h1 {
  width: 20%;
  min-width: 180px;
  max-width: 240px;
}
h1 a {
  max-width: 270px;
}
nav.primary {
  display: flex;
}
nav.primary ul {
 display: flex;
  width: 100%;
}

nav.primary li {
padding: 0.75rem 0;
  text-align: center;
  flex-grow: 1;
  max-width: 25%;
 }
nav.primary a {
 text-decoration: none;
 }


.hero, .p404 .hero {
  background: no-repeat white url("../img/rosace-320.png") ;
  background-position: right ;
  background-size: contain;
   min-height: 320px;
}
.hero p {
  font-size:3rem;
margin: auto 16px; 
  text-align: center;
  width: calc(100% - 352px);

}

.intro {
    padding: 0;
  }
.intro .container {
  display:flex;
  max-width:90rem;
  margin: 0 auto;
}
.intro .container-text {
  order: 2;
margin-left: 16px;
  flex: 3;
}

.intro img {
  order:1;
  margin: auto 0;
  flex: 1 180px;

}
.intro h2, .main-content h2 {
  margin:0 ;
  padding:24px 0;
  font-size:1.5rem;
}
.intro p, .main-content p {
  margin:0 0 24px 0;
  font-size:1rem;
}
.main-content .container {
    max-width: 60rem;
    margin: 0 auto;
}

.tile .container {
  display:flex;
  flex-direction:row;
}

.tile img {
height: fit-content;
margin: 88px 0 auto 0;
    min-width: 50%;
  }

.tile .container-text {
padding:16px;  
}
.tile:nth-child(odd) .container-text {
padding-left: 32px;
}
.services .tile:nth-child(even) .container-text {
padding-right: 16px;
}

.legal .tile .container-text {
padding:0;  
}

main .tile:nth-child(even) .container-text {
order:1;
}

main .tile:nth-child(even) img {
order:2;
}
main .tile:nth-child(odd) .container-text {
order:2;
}

main .tile:nth-child(odd) img {
order:1;
}

.tile .contact-link {
  width:50%;
}

.bottomline ul {
  margin-left:20%;
}

@supports (display: grid) {
    .cards > ul {
        grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
        grid-row-gap: 2rem;
    }

.card {
  flex-direction: row;
}
.offers .card {
  width: 90%;
 }
.cards h3 {
  min-width: 30%;
  width: 30%;
  padding: 0 16px;
  margin: 16px 0 auto 0;
}
}
.contact-link {
width:30%;
max-width: 480px;
}
.footer-links li {
  margin: 0 2rem;
display: inline-block;
}
/*
main *:focus, footer *:focus {
    scroll-margin-top: 16px;
}
*/
.identity.intro img {
margin: auto 2rem;
  flex: 1.5;
  max-width: 240px;
}


.team {
  margin: 0 3rem;
}
.team .member {
margin-bottom: 32px;
}
.team .member .credentials {

    vertical-align: top;
}
.member .credentials p {
  margin: 0 0 16px 0;
}

.p404 .hero img {
  width: 320px;
  height: 150px;
margin: auto auto auto 2rem;

}

  /* end of 768px to 1023 */
}




/* ==========================================================================
   Author's custom styles - large width
   ========================================================================== */

@media only screen and (min-width: 64rem) {
  /* 1024px and more */
body {
  font-size:1.25rem;
}

h1 a {
  max-width: 360px;
}
nav.primary ul {
  font-size: 1.5rem;
}
.hero, .p404 .hero {
  background: no-repeat white url("../img/rosace-480.png") ;
    background-position: right ;
  background-size: contain;
 min-height: 480px;
}
.hero p {
  font-size:3rem;
margin: auto 16px; 
  text-align: center;
  width: calc(100% - 512px);
max-width: 50%;
}


.intro h2, .main-content h2 {
  padding:32px 0;
  font-size:2rem;
}
.intro h2 {
  margin-top:32px;
}
.intro p, .main-content p, .intro ul, .main-content ul {
  margin:0 0 32px 0;
  font-size:1.25rem;
}
.intro img {
  max-width: 480px;
  flex: 1 240px;

}
.intro .container {
    max-width: 90rem;
    margin: 0 auto;
} 
.main-content .container {
    max-width: 60rem;
    margin: 0 auto;
} 
/*
@supports (display: grid) {
    .cards > ul {
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    }

.card {
  flex-direction: column;

font-size:1.25rem;
}
.cards h3 {
  min-width: 30%;
min-height: 3rem;
width:auto;
}
}
*/
.contact-link {
width:25%;
margin:3rem auto;
}
.footer-links li {
 font-size:1.25rem;
}

.socials svg {
  width: 1.25rem;
  height: 1.25rem;
}

@supports (display: grid) {
    .team {
        grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
        display: grid;
        grid-column-gap: 0.5rem;
        grid-auto-rows: 1fr;
        }


.team .member {
  width: 100%;
  display:flex;
    flex-direction: row;
 }
 .portrait {
  width:calc(12rem - 12px);
 }
 .credentials {
  width: 18rem;
 }
 .member .text {
  width:auto;
 }
}

.member h3 {
  margin-block-start: 1.125rem;
}

.p404 .hero img {
  width: fit-content;
  height: fit-content;
  margin: auto auto auto 4rem;

}

  /* end of 1024px and more */

}




/* ==========================================================================
   Author's custom styles - very large width
   ========================================================================== */

@media only screen and (min-width: 150rem) {
  /* 2400px and more */

.hero-container {
  background:  var(--prim1) ;
}

  /* end of 2400px and more */
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://www.ffoodd.fr/cache-cache-css/ 
 */

.sr-only {
 border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto !important;
  -webkit-clip-path: none !important;
          clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}



@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

